.login-button {
    background-color: #FFF8DC;
    border: 1px solid #A83E26;
    color: #B83353;
    font-family: Migra;
    font-weight: 800;
    font-size: 50.27px;
    padding: 10px 50px;
    width: 50vw;
    border-radius: 66.1px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    bottom: 100px;

}

.login-button:hover {
    background-color: #B83353;
    color: #FFF8DC;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Furby {
    object-fit: cover;
    align-items: center;
    justify-content: center;
    height: 80vh;
    z-index: 0;
}

.login-text {
    background-color: #FFF8DC;
    border: 1px solid #A83E26;
    color: #B83353;
    font-family: Migra;
    font-weight: 800;
    font-size: 50.27px;
    padding: 10px 50px;
    width: 50vw;
    border-radius: 66.1px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    bottom: 200px;

}