.App {
    background-color: #ffc0cb;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Star1 {
    z-index: 0;
    position: fixed;
    bottom: 0px;
    height: 100vh;
}

.content {
    z-index: 10;
    position: fixed;
    top: 50px;
    height: 100vh;
}